{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
    .bg-image{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;}
    .bg-size-half{background-size: 100%;}
    .bg-position-top{background-position: top;}
    </style>
{% endblock %}
{% block title %}Connexion...{% endblock %}


{% block body %}

<div class="text-center">
        <img src="{{ asset('images/logo_classic.png') }}" alt="">
        <img src="{{ asset('images/alt_rh-removebg-preview.png') }}" alt=""><br>
        <h1 class="m-4">Stage Developpeur Web</h1>
        <hr>
</div>

<div class="bg-image bg-size-half bg-position-top img-fluid" style="background-repeat:no-repeat;background-image:url('Images/7mZSoOW - Imgur.png');height:80vh;">
    <div class="col-6 mx-auto mt-6">
    <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3 text-center">
            Vous êtes connecté(e) en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal text-center">Identifiez-vous</h1>
    <label for="inputEmail" class="form-label">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>
    <label for="inputPassword" class="form-label">Mot de Passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    
        {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div> #}


        <button class="btn btn-dark d-block mx-auto mt-3" type="submit">
            Connexion
        </button>
    </form>
    </div>
</div>

{% endblock %}