<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_index') }}"><span class="badge fs-6 p-2 text-dark py-1" style="height:40px;width:6rem;background-color:#FF7518"> Projet <br> ALT-RH </span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if app.user %}
                <li class="nav-item">
                    <a href="{{path('app_stage')}}"class="nav-link"><span class="badge bg-success fs-4 p-2 text-white" style="">Rapport de Stage</span></a>
                </li>
            {% endif %}  
            </ul>
            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_subscribe') }}">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_login') }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>                                    
            </ul>
        </div>
    </div>
</nav>